<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required for Firebase/network access -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppointmentHub">
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppointmentHub.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Login activity: target after splash when user is not authenticated -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- Dashboards -->
        <activity
            android:name=".activities.DashboardChairmanActivity"
            android:exported="true" />
        <activity
            android:name=".activities.DashboardVCActivity"
            android:exported="true" />
        <activity
            android:name=".activities.DashboardConfigureActivity"
            android:exported="true" />

        <!-- Configuration screen -->
        <activity
            android:name=".activities.ConfigureActivity"
            android:exported="true" />

        <!-- Register activity -->
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="true" />

    </application>

</manifest>